.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}

.dark-mode {
  background: #171c28 !important;
  color: #ffffff !important;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Dark mode scrollbar */
.dark-mode::-webkit-scrollbar-track {
  background: #2a2a2a;
}

.dark-mode::-webkit-scrollbar-thumb {
  background: #444;
}

.dark-mode::-webkit-scrollbar-thumb:hover {
  background: #555;
}