.education-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000000 !important;
  margin: 20px 0;
}

.education-section {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}

.education-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  width: 100%;
}

.education-heading-div {
  text-align: center;
  margin-bottom: 20px;
}

.dark-mode {
  background: #000000 !important;
  color: #ffffff !important;
}

/* Media Queries */
@media (max-width: 768px) {
  .education-heading {
    font-size: 2rem;
  }
  
  .education-cards-div {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .education-cards-div {
    grid-template-columns: 1fr;
  }
}