.toggle-btn {
  padding: 0 15px;
  margin-top: 5px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.switch {
  display: block;
  width: 40px;
  height: 25px;
  border-radius: 15px;
  background: #333;
  cursor: pointer;
  position: relative;
}

.switch::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.checkbox:checked + .switch::before {
  transform: translateX(100%);
  background: #fff;
}

.checkbox:checked + .switch {
  background: #2196f3;
}

.fas {
  position: absolute;
  top: 6px;
  font-size: 10px;
  color: #000;
}

.fa-moon {
  left: 6px;
  color: #eee;
}

.fa-sun {
  right: 5px;
  top: 6px;
}

.checkbox:checked + .switch .fa-sun {
  color: #fff;
}

.checkbox:checked + .switch .fa-moon {
  color: #fff;
}