.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.splash-animation-container {
  width: 200px;
  height: 200px;
}

.splash-title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 20px;
  color: #000000 !important;
}

/* Media Queries */
@media (max-width: 768px) {
  .splash-animation-container {
    width: 150px;
    height: 150px;
  }
  
  .splash-title {
    font-size: 1.5rem;
  }
}